<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="form-container">
        <form action="{{ url_for('edit', index=index) }}" method="post" class="edit-form">
            <label for="edit-todo">Edit Todo:</label>
            <input type="text" id="edit-todo" name="todo" value="{{ todo['task'] }}" class="edit-input">
            <button type="submit" class="edit-button">Save</button>
        </form>
    </div>
</body>
</html>
